In [2]:
a = "hello" # assign string in variable
b = 'hello'
print(a, b) # String in python are surrounded by either single quote to double quote

hello hello

In [6]:
# multi line stirng ("""asdf""" or '''asdf''')
c = """Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting, 
remaining essentially unchanged. 
It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."""

In [8]:
print(c) # line break are inserted at the same position as in the code

Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged.
It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

In [11]:
name = 'Faisal Alam' # python dosenot have character data type, a single character is a string with lingth of 1
print(name[0], name[7])

F A

In [12]:
for x in name:
    print(x)

F
a
i
s
a
l

A
l
a
m

In [14]:
print(len(name)) # getting the lenght of the string

11

In [17]:
print('sa' in name) # check if "sa" is present in then string, return True, other wise False

True

In [19]:
if 'sa' in name:
    print('Yes "sa" is present')

Yes "sa" is present

In [22]:
if 'ra' not in name:
    print('No "test not present"')

No "test not present"

In [24]:
# slice from the starting position
print(name[:5]) # start 0 and end 4 (5 not included, that means position not included)

Faisa

In [27]:
# slice form the ending position
print(name[3:]) # start 3 to end of the string

sal Alam

In [29]:
# Negative indexing
print(name[-4:-2])

Al

In [31]:
print(name.upper())

FAISAL ALAM

In [32]:
print(name.lower())

faisal alam

In [34]:
print(name.strip()) # remove any whitespace form the beginning to the end

Faisal Alam

In [37]:
# replace string
print(name.replace(' ', '-'))
# name[6] = '-' # Python string data type are immutable # Can not reassign. # TypeError: 'str' object does not support item assignment
# print(name)

Faisal-Alam

In [40]:
for idIndex in range(0, 10):
    print(name[idIndex], '=', id(name[idIndex])) # checking memory location address of the position of the letters

F = 140507172877104
a = 140507172850224
i = 140507173624688
s = 140507173621808
a = 140507172850224
l = 140507172692400
  = 140507171995568
A = 140507172357424
l = 140507172692400
a = 140507172850224

In [45]:
# String Split
print(name)
print(name.split(" "))
print(name)

Faisal Alam
['Faisal', 'Alam']
Faisal Alam

In [46]:
# split with new variable and concatenate practis
newName = name.split(' ')
print(newName)

['Faisal', 'Alam']

In [49]:
print(newName[0] + ' ** ' + newName[1]) # concate with ( ** )

Faisal ** Alam

In [55]:
# String Format 
# age = 31
# text = "My name is Faisal, I am " + age # TypeError: can only concatenate str (not "int") to str
# print(text)

age = 31
text = "My name is Faisal, I am {}"
print(text.format(age))

My name is Faisal, I am 31

In [56]:
qty = 10
item = 200
price = 50
order = "I want {} pieces of item {} for {} BDT"
print(order.format(qty, item, price))

I want 10 pieces of item 200 for 50 taka

In [57]:
order = "I want to pay {2} BDT for {0} pieces of item {1}"
print(order.format(qty, item, price))

I want to pay 50 BDT for 10 pieces of item 200

In [59]:
# Character Escaping
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [60]:
# Escape characters
# \' or \" = single or double quote
# \\  = Backslash
# \n = new line
# \r = carriage return
# \t = tab
# \b = backspace
# \f = Form feed
# \ooo = Octal value
# \xhh = Hex value