In [7]:
# Note: All string methods return new values. Do not change the original string
# txt = "hello, And welcome to my world. this is test"
# txt = '31 is my age'
a = txt.capitalize() # The first character is converted to upper case, and the rest are converted to lower case:
print(a)

31 is my age

In [9]:
txt = "Hello, And Welcome To My World!"
a = txt.casefold() # casefold() is similar to the lower(). but casefold() method is stronger, more aggressive meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.
print(a)

hello, and welcome to my world!

In [13]:
txt = "faisal"
a = txt.center(20) # Print the word "faisal", taking up the space of 20 characters, with "faisal" in the middle
print(a)

       faisal

In [14]:
b = txt.center(20, '*') # paramater (length, character)
# length = Required. The length of the returned string
# character = Optional. The character to fill the missing space on each side. Default is " " (space)

print(b)

*******faisal*******

In [6]:
# Return the number of times the value "search string" appears in the string:
txt = "I love mango, mango is my favorite fruit√•"
c = txt.count('m', 0, 25) # txt.count('search string', (opt)start position, (opt)end position)
print(c)

3

In [8]:
d = txt.encode()
print(d)

b'I love mango, mango is my favorite fruit\xc3\xa5'

In [19]:
dd = txt.encode(encoding='ascii', errors='ignore')
print(dd)
print(txt.encode(encoding="ascii", errors="backslashreplace"))
print(txt.encode(encoding="ascii", errors='namereplace'))
print(txt.encode(encoding="ascii", errors='replace'))
print(txt.encode(encoding="ascii", errors='xmlcharrefreplace'))

b'I love mango, mango is my favorite fruit'
b'I love mango, mango is my favorite fruit\\xe5'
b'I love mango, mango is my favorite fruit\\N{LATIN SMALL LETTER A WITH RING ABOVE}'
b'I love mango, mango is my favorite fruit?'
b'I love mango, mango is my favorite fruit&#229;'

In [32]:
txt = "Hello, welcome to my world..."
print(txt.endswith('.')) # 
print(txt.endswith('world...', ))
print(txt.endswith('.', 2, 15))

True
True
False

In [34]:
txt = "H\te\tl\tl\to"
print(txt.expandtabs(4)) # Set the tab size with whitespaces

H   e   l   l   o

In [14]:
txt = "Hello, welcome to my world."
# find() getting the first occurrence of the specified value otherwise return -1
print(txt.find('w'))
print(txt.find('z'))
print(txt.find('w', 10))
print(txt.find('w', 10, 20))



# index() almost same as find(), getting the first occurrence of the specified value otherwise return ValueError: substring not found
print(txt.index('w'))
# print(txt.index('z')) # ValueError: substring not found

7
-1
21
-1
7

In [28]:
txt = "Mina have {pen: .2f} and Rina have {pencil: .2f} and Tina have {pencil: .2f}"
print(txt.format(pencil=5, pen=20)) # insert value inside the string placeholder

txt1 = "My name is {name}, I'm {age}".format(name = "Faisal", age = 31)
txt2 = "My name is {0}, I'm {1}".format("Faisal", 31)
print(txt1)
print(txt2)

# Formatting Types
# ----------------
# :< = Left aligns the result (within the available space)
# :> = Right aligns the result (within the available space)
# :^ = Center aligns the result (within the available space)
# := = Places the sign to the left most position
# :+ = Use a plus sign to indicate if the result is positive or negative
# :- = Use a minus sign for negative values only
# :  = Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
# :, = Use a comma as a thousand separator
# :_ = Use a underscore as a thousand separator
# :b = Binary format
# :c = Converts the value into the corresponding unicode character
# :d = Decimal format
# :e = Scientific format, with a lower case e
# :E = Scientific format, with an upper case E
# :f = Fix point number format
# :F = Fix point number format, in uppercase format (show inf and nan as INF and NAN)
# :g = General format
# :G = General format (using a upper case E for scientific notations)
# :o = Octal format
# :x = Hex format, lower case
# :X = Hex format, upper case
# :n = Number format
# :% = Percentage format

Mina have  20.00 and Rina have  5.00 and Tina have  5.00
My name is Faisal, I'm 31
My name is Faisal, I'm 31

In [45]:
txt = "Apple12max"
print(txt.isalnum()) # True
txt2 = "Apple 12 max"
print(txt2.isalnum()) # False
txt3 = 'Apple'
print(txt3.isalpha())
print(txt3.isnumeric())
txt4 = '123456'
print(txt4.isdigit())
# print(txt4.isdecimale())

True
False
True
False
True

In [48]:
# valid identifier contains alphanumeric letters (a-z),(0-9),(_). A valid identifier cannot start with a number, or contain any spaces.
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [50]:
txt = 'hello world'
print(txt.islower())

True

In [60]:
txt = "Hello! Are you #1?"
print(txt.isprintable()) # True
txt = "Hello! \n Are you #1?"
print(txt.isprintable()) # False

True
False

In [61]:
# istitle() method returns True if text start with a upper case letter, AND the rest of the word are lower case, otherwise False.
# Symbols and numbers are ignored.
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [65]:
# join() method takes all items in an iterable and joins them into one string.
myList = ['one', 'two', 'three']
print('*'.join(myList))
myTuple = ('one', 'two', 'three')
print('-'.join(myTuple))
myDict = {"name": "John", "country": "Norway"}
print('--'.join(myDict)) # When using a dictionary as an iterable, the returned values are the keys, not the values.

one*two*three
one-two-three
name--country

In [68]:
txt = "banana"
x = txt.ljust(20, 'x')
print(x, "is my favorite fruit.")

bananaxxxxxxxxxxxxxx is my favorite fruit.

In [7]:
txt = "Hello this is Sam!"
myTable = txt.maketrans("S", "P") # Create a mapping table
print(myTable)
print(txt.translate(myTable)) # replace any "S" characters with a "P"

{83: 80}
Hello this is Pam!

In [12]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.maketrans(x, y, z))
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
G i Joe!

In [17]:
# partition searches for a specified string, and splits the string into a tuple containing three elements.
# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"
txt = "I could eat bananas all day"
x = txt.partition('eat')
print(x) 
print(txt.partition('apple')) # If the specified value is not found, returns a tuple containing: 1-whole string, 2-empty string, 3-empty string:

('I could ', 'eat', ' bananas all day')
('I could eat bananas all day', '', '')

In [21]:
txt = " a "
print(txt.isspace()) # returns True if all the characters in whitespaces, otherwise False.

False

In [31]:
# replaces a specified phrase with another specified phrase
txt = "I like banana also john like banana"
print(txt.replace("banana", "apple")) # replace all occurrences
print(txt.replace("banana", "apple", 1)) # replace count occurrences

I like apple also john like apple
I like apple also john like banana

In [37]:
# finds the last occurrence of the specified value.
# returns -1 if the value is not found.
# almost the same as the rindex()
# If value is not found, rfind() returns -1, but rindex() will raise an exception:
txt = "Mi casa, su casa."
print(txt.rfind("casa")) 
txt = "Hello, welcome to my world."
print(txt.rfind("e"))
txt = "Hello, welcome to my world."
print(txt.rfind("e", 5, 10))
txt = "Hello, welcome to my world."
print(txt.rfind("q"))
# print(txt.rindex("q")) # ValueError: substring not found

12
13
8
-1

In [43]:
# Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
print(txt.split())
txt = "apple#banana#cherry#orange"
print(txt.split('#', 2))

['welcome', 'to', 'the', 'jungle']
['apple', 'banana', 'cherry#orange']

In [46]:
# Split the string with new line
txt = "Thank you for the music\nWelcome to the jungle"
print(txt.splitlines())
print(txt.splitlines(True))

['Thank you for the music', 'Welcome to the jungle']
['Thank you for the music\n', 'Welcome to the jungle']

In [49]:
# returns True if the string starts with the specified value, otherwise False.
txt = "Hello, welcome to my world."
print(txt.startswith("Hello"))
txt = "Hello, welcome to my world."
print(txt.startswith("wel", 7, 20))

True
True

In [54]:
# Remove spaces at the beginning and at the end of the string:
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")
txt = ",,,,,rrttgg.....banana....rrr"
print(txt.strip(",.grt")) # Remove the leading and trailing characters

of all fruits banana is my favorite
banana

In [56]:
# Make the lower case letters upper case and the upper case letters lower case:
txt = "Hello My Name Is PETER"
print(txt.swapcase())

hELLO mY nAME iS peter

In [60]:
txt = "welcome to my world"
print(txt.title())
txt = "hello b2b2b2 and 3g3g3g"
print(txt.title()) # first letter after a non-alphabet letter is converted into a upper case letter

Welcome To My World
Hello B2B2B2 And 3G3G3G

In [64]:
txt = "50"
print(txt.zfill(4)) # Fill the string with zeros until it is x characters long

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

0050
00000hello
welcome to the jungle
000010.000

In [ ]:
# Note: All string methods returns new values. They do not change the original string.