In [1]:
# Important note of Python Collections 
# ---------------------------------------
# There are four collection data types in Python
# * List is ordered and changeable. Allows duplicate members.
# * Tuple is rdered and unchangeable. Allows duplicate members.
# * Set is unordered, unchangeable*, and unindexed. No duplicate members.
# * Dictionary is ordered** and changeable. No duplicate members.

# Tuple items are ordered, unchangeable, and allow duplicate values.
# Tuple items are indexed, the first item has index [0], the second item has index [1] etc
# When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
# Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
# *** Set items are unchangeable, but you can remove and/or add items whenever you like.
# *** Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

# only Tuple is practic in the file

In [5]:
# A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [4]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
# number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [8]:
# To create a tuple with only one item, you have to add a comma after the item, 
# otherwise Python will not recognize it as a tuple.
thistuple = ("apple",) # <class 'tuple'>
print(type(thistuple))

#NOT a tuple
thistuple = ("apple") # <class 'str'>
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [12]:
# Tuple items can be of any data type (String, int and boolean data types): 
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))
print(type(tuple4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [15]:
# It is also possible to use the tuple() constructor to make a tuple.
thistuple = tuple(("apple", "banana", "cherry"))
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'banana', 'cherry')

In [17]:
print(thistuple[0])
print(thistuple[1])
print(thistuple[2])
print(thistuple[-1])
print(thistuple[-2])

apple
banana
cherry
cherry
banana

In [21]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # ('cherry', 'orange', 'kiwi')
print(thistuple[:4]) # ('apple', 'banana', 'cherry', 'orange')
print(thistuple[2:]) # ('cherry', 'orange', 'kiwi', 'melon', 'mango')

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [23]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = ("apple", "banana", "cherry")
y = list(x) # Convert the tuple into a list
y[1] = "kiwi" # Change list value
x = tuple(y) # Convert the list into a tuple here again
print(x)

('apple', 'kiwi', 'cherry')

In [27]:
# Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.
thistuple = ("apple", "banana", "cherry")
x = list(thistuple)
x.append('orange')
thistuple = tuple(x)
print(thistuple)
print(type(thistuple))

# another way to append value in tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange", )
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')
<class 'tuple'>
('apple', 'banana', 'cherry', 'orange')

In [29]:
# Note: You cannot remove items in a tuple.
# Convert the tuple into a list, remove "item", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove('banana')
thistuple = tuple(y)
print(thistuple)

('apple', 'cherry')

In [ ]:
# del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
# print(thistuple) #this will raise an error because the tuple no longer exists

In [31]:
# Unpacking a tuple:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [34]:
# Using Asterisk*
# If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
# Assign the rest of the values as a list called "red":
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [36]:
# If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [37]:
thistuple = ("apple", "banana", "cherry")
for item in thistuple:
    print(item)

apple
banana
cherry

In [38]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple)

apple
banana
cherry

In [40]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [43]:
# To join two or more tuples you can use the + operator:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [44]:
# If you want to multiply the content of a tuple a given number of times, you can use the * operator:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [45]:
fruits = (10,54,12,45)
mytuple = fruits * 2
print(mytuple)

(10, 54, 12, 45, 10, 54, 12, 45)

In [47]:
# Return the number of times the value 5 appears in the tuple:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(thistuple.count(5))

2

In [50]:
# Search for the first occurrence of the value, and return its position:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(thistuple.index(6))

7